body {
    width: 100%;
    height: 100vh;
}

h1, p {
    text-align: center;
    margin: 1em auto;
}

form {
    background-color: #1b1b32;
    color: white;
    width: 80vh;
    margin: 0 auto;
    padding: 1em;
    border-radius: 0.5%;
}

fieldset {
    border: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    width: 100%;
    margin: 10px auto;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
}

button {
    width: 100%;
    background-color: #22b175;
    color: white;
    padding: 10px;
    min-height: 2rem;
}