body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#title {
    font-size: 80px;
}

.hero{
    text-align: center;
    
}

main {
    background-color: lightgrey;
    border-radius: 15px;
    padding: 20px;
    margin: 40px 0;
}

#headline{
    text-align: center;
}

.more-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.more-info,ul,li{
    padding: 16px 0;
    display: list-item;
}

#img-div{
    background-color: rgb(253, 245, 234);
    text-align: center;
    padding: 20px;
    display: block;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

p { 
    text-align: center;
}